<%- include('partials/header') -%>
<h1 class=""><a href="/profile"><img  src="/imgs/CSlogo2.png" alt="Welcome to " width="500" height="333"></a></h1>
<main class="container">
    <div class="row justify-content-around mt-5">
        <a href="/login" class="col-3 btn btn-primary"> Login</a>
        <a href="/signup" class="col-3 btn btn-primary"> Signup</a>
    </div>
</main>
    

<%- include('partials/footer') -%>